In [96]:
import pandas as pd

In [97]:
df = pd.read_csv('StudentsPerformance.csv')

In [98]:
df.head(20)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
5,female,group B,associate's degree,standard,none,71,83,78
6,female,group B,some college,standard,completed,88,95,92
7,male,group B,some college,free/reduced,none,40,43,39
8,male,group D,high school,free/reduced,completed,64,64,67
9,female,group B,high school,free/reduced,none,38,60,50
10,male,group C,associate's degree,standard,none,58,54,52
11,male,group D,associate's degree,standard,none,40,52,43
12,female,group B,high school,standard,none,65,81,73
13,male,group A,some college,standard,completed,78,72,70
14,female,group A,master's degree,standard,none,50,53,58
15,female,group C,some high school,standard,none,69,75,78
16,male,group C,high school,standard,none,88,89,86
17,female,group B,some high school,free/reduced,none,18,32,28
18,male,group C,master's degree,free/reduced,completed,46,42,46
19,female,group C,associate's degree,free/reduced,none,54,58,61

In [99]:
X = df[['gender','race/ethnicity','test preparation course']].values

In [100]:
Y = df[['math score']]

In [101]:
from sklearn import preprocessing

In [102]:
le_gender = preprocessing.LabelEncoder()

In [103]:
le_gender.fit(['male','female'])

LabelEncoder()

In [104]:
X[:,0] = le_gender.transform(X[:,0])

In [105]:
le_race = preprocessing.LabelEncoder()

In [106]:
le_race.fit(['group A','group B','group C','group D','group E'])

LabelEncoder()

In [107]:
X[:,1] = le_race.transform(X[:,1])

In [108]:
le_prep = preprocessing.LabelEncoder()

In [109]:
le_prep.fit(['none','completed'])

LabelEncoder()

In [110]:
X[:,2] = le_prep.transform(X[:,2])

In [111]:
X

array([[0, 1, 1],
       [0, 2, 0],
       [0, 1, 1],
       ...,
       [0, 2, 0],
       [0, 3, 0],
       [0, 3, 1]], dtype=object)

In [112]:
from sklearn import linear_model

In [113]:
lm = linear_model.LinearRegression()

In [114]:
from sklearn.model_selection import train_test_split

In [115]:
train_x,test_x,train_y,test_y = train_test_split(X,Y,test_size = 0.2)

In [116]:
lm.fit(train_x,train_y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [117]:
pred = lm.predict(test_x)

In [118]:
from sklearn.metrics import accuracy_score,r2_score

In [119]:
print(r2_score(test_y,pred))

0.095887543206158

In [120]:
import matplotlib.pyplot as plt

In [121]:
test_y[0:5]

     math score
792          66
419          57
26           69
48           57
767          76

In [122]:
pred[0:5]

array([[68.73512073],
       [77.49520626],
       [63.22898337],
       [70.10957623],
       [69.23600022]])

In [123]:
from sklearn.metrics import mean_squared_error

In [124]:
mse = mean_squared_error(test_y,pred)

In [125]:
import numpy as np

In [126]:
print(np.sqrt(mse))

14.58688041997696

In [127]:
Y2 = df[['reading score']]

In [128]:
train_x2,test_x2,train_y2,test_y2 = train_test_split(X,Y2,test_size = 0.2)

In [129]:
lm2 = linear_model.LinearRegression()

In [130]:
lm2.fit(train_x2,train_y2)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [131]:
pred2 = lm2.predict(test_x2)

In [132]:
print(r2_score(test_y2,pred2))

0.1565780672539897

In [133]:
mse2 = mean_squared_error(test_y2,pred2)

In [134]:
print(np.sqrt(mse2))

13.060545459614943

In [135]:
Y3 = df[['writing score']]

In [136]:
lm3 = linear_model.LinearRegression()

In [137]:
train_x3,test_x3,train_y3,test_y3 = train_test_split(X,Y3,test_size = 0.2)

In [138]:
lm3.fit(train_x3,train_y3)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [139]:
pred3 = lm3.predict(test_x3)

In [140]:
print(r2_score(test_y3,pred3))

0.21798919669809913

In [141]:
mse3 = mean_squared_error(test_y3,pred3)

In [142]:
print(np.sqrt(mse3))

12.648962912511271