In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('energydata_complete.csv')

In [3]:
df.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [4]:
df.columns

Index(['date', 'Appliances', 'lights', 'T1', 'RH_1', 'T2', 'RH_2', 'T3',
       'RH_3', 'T4', 'RH_4', 'T5', 'RH_5', 'T6', 'RH_6', 'T7', 'RH_7', 'T8',
       'RH_8', 'T9', 'RH_9', 'T_out', 'Press_mm_hg', 'RH_out', 'Windspeed',
       'Visibility', 'Tdewpoint', 'rv1', 'rv2'],
      dtype='object')

In [5]:
x = df[['T1', 'RH_1', 'T2', 'RH_2', 'T3',
       'RH_3', 'T4', 'RH_4', 'T5', 'RH_5', 'T6', 'RH_6', 'T7', 'RH_7', 'T8',
       'RH_8', 'T9', 'RH_9', 'T_out', 'Press_mm_hg', 'RH_out', 'Windspeed',
       'Visibility', 'Tdewpoint', 'rv1', 'rv2']]

In [6]:
y1 = df[['Appliances']]

In [7]:
y2 = df[['lights']]

In [8]:
from sklearn.model_selection import train_test_split

In [9]:
train_x,test_x,train_y1,test_y1 = train_test_split(x,y1,test_size = 0.2)

In [10]:
from sklearn import linear_model

In [11]:
regr = linear_model.LinearRegression()

In [12]:
regr.fit(train_x,train_y1)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [13]:
coef_arr=regr.coef_.reshape(26,1)

In [14]:
coef_df = pd.DataFrame(coef_arr,x.columns,columns = ['Coefficient'])

In [15]:
coef_df

             Coefficient
T1              1.156249
RH_1           16.084588
T2            -21.295173
RH_2          -14.591505
T3             25.753515
RH_3            5.437831
T4              2.901892
RH_4            2.310443
T5             -0.152060
RH_5            0.130130
T6              7.580522
RH_6            0.363370
T7              1.708780
RH_7           -1.827204
T8              9.563013
RH_8           -5.765312
T9            -21.876907
RH_9           -1.977512
T_out         -11.465610
Press_mm_hg     0.088738
RH_out         -1.175791
Windspeed       1.890925
Visibility      0.135826
Tdewpoint       5.898444
rv1            -0.035618
rv2            -0.035618

In [16]:
y_pred = regr.predict(test_x)

In [17]:
y_pred.shape

(3947, 1)

In [18]:
test_y1.shape

(3947, 1)

In [20]:
test_y1 = test_y1.values

In [21]:
type(test_y1)

numpy.ndarray

In [22]:
from sklearn.metrics import mean_squared_error

In [23]:
mse = mean_squared_error(test_y1,y_pred)

In [24]:
print(mse)

9427.35493045027

In [25]:
import numpy as np

In [26]:
rmse = np.sqrt(mse)

In [27]:
print(rmse)

97.09456694609781

In [29]:
train_x,test_x,train_y2,test_y2 = train_test_split(x,y2,test_size = 0.2)

In [30]:
regr.fit(train_x,train_y2)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [31]:
print(regr.coef_)

[[ 4.66582546e-01  4.64283895e-01 -1.26613586e+00 -4.57628568e-01
  -7.26104399e-02  4.38130679e-02  3.20969136e+00  1.05277575e+00
   1.33569791e-03  4.99077347e-02  2.74775953e-01  2.97694990e-02
  -3.12560252e-01 -1.39909779e-01  1.07120159e+00 -6.03633468e-01
  -3.12616689e+00 -3.03973075e-01 -2.07320715e-01 -6.65728927e-03
   7.55367287e-02  1.98188045e-01  1.06546533e-02  4.41302917e-03
   1.39233981e-03  1.39233981e-03]]

In [32]:
print(regr.intercept_)

[-8.86151113]

In [33]:
type(regr.coef_)

numpy.ndarray

In [34]:
y_pred2 = regr.predict(test_x)

In [36]:
mse = mean_squared_error(test_y2,y_pred2)

In [37]:
print(mse)

49.37787031110478

In [38]:
rmse = np.sqrt(mse)

In [41]:
print(rmse)

7.026938900481829